/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   @import url(http://fonts.googleapis.com/css?family=Roboto);
p, a, h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
}

/* ==========================================================================
   Navbar style
   ========================================================================== */

nav {
    background-image: url("../img/header.png");
    position: fixed;
    right: 0;
    left: 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.13);
    -webkit-box-shadow:0 1px 3px rgba(0,0,0,0.13);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.13);
    box-shadow: 0 1px 3px rgba(0,0,0,0.13);
    z-index: 10;
}

nav img {
    float: left;
    display: block;
    margin: 3px 5px;
}

ul.topnav {
    overflow: hidden;
    float: right;
    margin-top: 10px;
    margin-bottom: 0px;
}
ul.topnav li {
    display: inline-block;
    padding: 2px 15px;
}

ul.topnav li a {
    color: #11217c;
    font-weight: 700 !important;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    padding: 5px;
}

ul.topnav li a:hover {
    color: #6399f5 !important;
}

/* Underline From Center */
.hvr-underline-from-center {
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background:  #6399f5;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}

button.responsive-btn {
    display: none;
}

/* ==========================================================================
   Banner style
   ========================================================================== */

.banner {
    height: auto;
    margin: 0;
    padding: 0;
    width: 100%;
    background-image: url("../img/bg2.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 55px;
    z-index: 0;
}

.banner h1 {
    color: #fff;
    font-weight: bold;
    text-align: left;
    padding: 0 25px;
}

.logo {
    width: 50%;
}

.ball {
    width: 30%;
}

.cube {
    width: 30%;
}

.triangle {
    width: 30%;

}

/* ==========================================================================
About us
========================================================================== */

#about {
    background-color: #bacbe3;
    height: auto;
    margin: 0;
    width: 100%;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 75px;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.column-response {
    width: auto;
    padding: 5px;
}

.column8 {   
    width: 75%;
}

.column3 {
    width: 25%;
}

.column4 {
    width: 35%;
}

.column6 {
    width: 50%;
}

.row-inline,
.row-responsive {
    display: flex;
    margin-right: 0;
    margin-left: 0;
}

.portfolio-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    max-width: 100vw;
}

.row-responsive:after,
.row-inline:after {
    content: "";
    display: table;
    clear: both;
}

p.info-txt {
    font-size: 18px;
    color: #fff;
    text-align: justify;
    padding: 0 35px;
    margin-bottom: 50px;
    font-weight: 600;
}

p.info-txt a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

#about .img-circle {
    border-radius: 50%;
    box-shadow: 0px 1px 10px -1px #494949;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#about h1 {
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 0 25px;
}

#about h2 {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

/* ==========================================================================
Skills
========================================================================== */

#about ul {
    padding: 0;
    margin: 50px auto;
}

ul.lang-list li  {
    width: 80px;
    display: inline-block;
}

ul.software-list li {
    margin-top: 15px;
    display: inline-block;
}

ul.lang-list li {
    display: inline-block;
}

ul.lang-list li img {
    width: 100%;
    height: auto;
}

ul.software-list li img,
ul.lang-list li img {
    padding-top: 0 !important;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

ul.software-list li img:hover,
ul.lang-list li img:hover,
a.btn-social-icon:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

/* ==========================================================================
Portfolio
========================================================================== */

#portfolio {
    background-color: #232f3f;
    background-size: 100%;
    background-repeat: no-repeat;
    height: auto;
    margin: 0 auto;
    width: 100%;
    position: relative;
    padding: 50px 0 100px 0;
    -webkit-box-shadow: inset 0px 7px 19px -3px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 7px 19px -3px rgba(0,0,0,0.5);
    box-shadow: inset 0px 7px 19px -3px rgba(0,0,0,0.5);
}

.full-width-column {
    width: 100%;
    text-align: center;
}

/* ==========================================================================
Counter
========================================================================== */

.counter h2 {
    color: #fff;
    font-weight: bold;
}

.counter h3 {
    color: #fff;
    font-weight: bold;
}

.counter h1 {
    color: #6399f5 !important;
    font-weight: bold;
    text-align: center;
}

/* ==========================================================================
Portfoilo
========================================================================== */

#portfolio h2 {
    color: #ee8ba3;
    font-weight: bold;
}

#portfolio a {
    color: #fff;
    text-decoration: none;
}

#portfolio a:hover,
#portfolio a:active,
#portfolio a:focus {
    color: #000;
    text-shadow: none;
}

.btn {
    border: none;
    background-color: linear-gradient(to bottom, #3498db, #2980b9);
    border-radius: 3px;
    font-family: Arial;
    color: #ffffff;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    margin-top: 5px;
}
  
.box {
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    padding: 10px;
    height: 100px;
    width: calc(25% - 10px);
    float: left;
    margin: 5px;
    text-align: center;
    border-radius: 3px;
    color: #fff;
}

.spacer {
    clear: both;
    height: 20px;
}

/* Bounce To Right */
.hvr-bounce-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.hvr-bounce-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ee8ba3;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-bounce-to-right:hover, .hvr-bounce-to-right:focus, .hvr-bounce-to-right:active {
    color: white;
}

.hvr-bounce-to-right:hover:before, .hvr-bounce-to-right:focus:before, .hvr-bounce-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

/* ==========================================================================
Contact me
========================================================================== */

#contact {
    background-color: #bacbe3;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
    -webkit-box-shadow: inset 0px 7px 19px -3px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 7px 19px -3px rgba(0,0,0,0.5);
    box-shadow: inset 0px 7px 19px -3px rgba(0,0,0,0.5);
}

#contact h2, p, a {
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.center-block {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

/*Contact-part*/
.btn-contact {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #11217c;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid #11217c  2px;
    text-decoration: none;
}
  
.btn-contact:hover {
    text-decoration: none;
    color: #6399f5;
    border: solid #6399f5  2px;
}
.wrap-contact {
    width: 100%;
    background-color: #fff;
    border-radius: 2px;
    position: relative;
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 50px 70px 50px 70px;
    margin-left: auto;
    margin-right: auto;
  
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}
  
.contact-logo img, .container-contact-btn, .contact-soc-btn {
    padding-top: 30px;
    padding-bottom: 15px;
}
  
.contact-symbol {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100px;
    height: 100px;
    border: 1px solid #e7e7e7;
    border-radius: 50%;
    background: #fff;
    top: -55px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.contact-symbol img {
    max-width: 49px;
}
  
#contact article p {
    color: #11217c;
    font-size: 14px;
}

#contact .contact-title {
    width: 100%;
    display: block;
    font-size: 30px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 30px;
}

.btn-linkedin:hover,
.btn-linkedin:focus,
.btn-linkedin:active,
.btn-linkedin.active,
.open>.dropdown-toggle.btn-linkedin {
    color: #fff;
    background-color: #005983;
    border-color: rgba(0,0,0,0.2);
}
.btn-social-icon {
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0px 7px 19px -3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 7px 19px -3px rgba(0,0,0,0.5);
    box-shadow: 0px 7px 19px -3px rgba(0,0,0,0.5);
}

/*Facebook*/
.btn-facebook  {
    color:#fff;
    background-color:#3b5998;
    border-color:rgba(0,0,0,0.2);
}

.btn-facebook:hover,.btn-facebook:focus,
.btn-facebook:active,.btn-facebook.active,.open>.dropdown-toggle.btn-facebook {
    color:#fff;
    background-color:#2d4373;
    border-color:rgba(0,0,0,0.2);
}

.btn-facebook:active,.btn-facebook.active,
.open>.dropdown-toggle.btn-facebook {
    background-image:none;
}

.btn-facebook.disabled,.btn-facebook[disabled],
fieldset[disabled] .btn-facebook,.btn-facebook.disabled:hover,
.btn-facebook[disabled]:hover,fieldset[disabled] .btn-facebook:hover,
.btn-facebook.disabled:focus,.btn-facebook[disabled]:focus,
fieldset[disabled] .btn-facebook:focus,.btn-facebook.disabled:active,
.btn-facebook[disabled]:active,fieldset[disabled] .btn-facebook:active,
.btn-facebook.disabled.active,.btn-facebook[disabled].active,fieldset[disabled] .btn-facebook.active {
    background-color:#3b5998;
    border-color:rgba(0,0,0,0.2);
}

.btn-facebook .badge {
    color:#3b5998;
    background-color:#fff;
}

/*Google btn*/
.btn-google {
    color:#fff;
    background-color:#dd4b39;
    border-color:rgba(0,0,0,0.2);
}

.btn-google:hover,.btn-google:focus,.btn-google:active,
.btn-google.active,.open>.dropdown-toggle.btn-google {
    color:#fff;
    background-color:#c23321;
    border-color:rgba(0,0,0,0.2);
}

.btn-google:active,.btn-google.active,.open>.dropdown-toggle.btn-google {
    background-image:none;
}

.btn-google.disabled,.btn-google[disabled],fieldset[disabled] .btn-google,.btn-google.disabled:hover,
.btn-google[disabled]:hover,fieldset[disabled] .btn-google:hover,.btn-google.disabled:focus,
.btn-google[disabled]:focus,fieldset[disabled] .btn-google:focus,.btn-google.disabled:active,
.btn-google[disabled]:active,fieldset[disabled] .btn-google:active,.btn-google.disabled.active,
.btn-google[disabled].active,fieldset[disabled] .btn-google.active {
    background-color:#dd4b39;
    border-color:rgba(0,0,0,0.2);
}

.btn-google .badge {
    color:#dd4b39;
    background-color:#fff;
}

/*Linkedin btn*/
.btn-linkedin {
    color:#fff;
    background-color:#007bb6;
    border-color:rgba(0,0,0,0.2);
}

.btn-linkedin:hover,.btn-linkedin:focus,.btn-linkedin:active,
.btn-linkedin.active,.open>.dropdown-toggle.btn-linkedin {
    color:#fff;
    background-color:#005983;
    border-color:rgba(0,0,0,0.2);
}

.btn-linkedin:active,.btn-linkedin.active,
.open>.dropdown-toggle.btn-linkedin {
    background-image:none;
}

.btn-linkedin.disabled,.btn-linkedin[disabled],
fieldset[disabled] .btn-linkedin,.btn-linkedin.disabled:hover,
.btn-linkedin[disabled]:hover,fieldset[disabled] .btn-linkedin:hover,
.btn-linkedin.disabled:focus,.btn-linkedin[disabled]:focus,fieldset[disabled] .btn-linkedin:focus,
.btn-linkedin.disabled:active,.btn-linkedin[disabled]:active,fieldset[disabled] .btn-linkedin:active,
.btn-linkedin.disabled.active,.btn-linkedin[disabled].active,fieldset[disabled] .btn-linkedin.active {
    background-color:#007bb6;
    border-color:rgba(0,0,0,0.2);
}

.btn-linkedin .badge { 
    color:#007bb6;
    background-color:#fff;
}

/*Github btn*/
.btn-github {
    color:#fff;
    background-color:#444;
    border-color:rgba(0,0,0,0.2);
}
.btn-github:hover,.btn-github:focus,.btn-github:active,
.btn-github.active,.open>.dropdown-toggle.btn-github {
    color:#fff;
    background-color:#2b2b2b;
    border-color:rgba(0,0,0,0.2);
}

.btn-github:active,.btn-github.active,.open>.dropdown-toggle.btn-github {
    background-image:none;
}

.btn-github.disabled,.btn-github[disabled],
fieldset[disabled] .btn-github,.btn-github.disabled:hover,
.btn-github[disabled]:hover,fieldset[disabled] .btn-github:hover,
.btn-github.disabled:focus,.btn-github[disabled]:focus,
fieldset[disabled] .btn-github:focus,.btn-github.disabled:active,
.btn-github[disabled]:active,fieldset[disabled] .btn-github:active,
.btn-github.disabled.active,.btn-github[disabled].active,
fieldset[disabled] .btn-github.active {
    background-color:#444;
    border-color:rgba(0,0,0,0.2);
}

.btn-github .badge {
    color:#444;
    background-color:#fff;
}

/*Behance*/
.btn-behance {
    color:#fff;
    background-color:#1769ff;
    border-color:rgba(0,0,0,0.2);
}

.btn-behance:hover,.btn-behance:focus,.btn-behance:active,
.btn-behance.active,.open>.dropdown-toggle.btn-behance {
    color:#fff;
    background-color:#0049b8;
    border-color:rgba(0,0,0,0.2);
}

.btn-behance:active,.btn-behance.active,
.open>.dropdown-toggle.btn-behance {
    background-image:none;
}

.btn-behance.disabled,.btn-behance[disabled],
fieldset[disabled] .btn-behance,.btn-behance.disabled:hover,
.btn-behance[disabled]:hover,fieldset[disabled] .btn-behance:hover,
.btn-behance.disabled:focus,.btn-behance[disabled]:focus,
fieldset[disabled] .btn-behance:focus,.btn-behance.disabled:active,
.btn-behance[disabled]:active,fieldset[disabled] .btn-behance:active,
.btn-behance.disabled.active,.btn-behance[disabled].active,
fieldset[disabled] .btn-behance.active {
    background-color:#444;
    border-color:rgba(0,0,0,0.2);
}

.btn-behance .badge {
    color:#444;
    background-color:#fff;
}

/* ==========================================================================
Footer
========================================================================== */

footer {
    background-image: url("../img/header.png") !important;
    width: 100%;
    height: 15%;
    -webkit-box-shadow: inset 0px 7px 19px -3px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 7px 19px -3px rgba(0,0,0,0.5);
    box-shadow: inset 0px 7px 19px -3px rgba(0,0,0,0.5);
}

footer p {
    color: #11217c;
    font-weight: 700;
    text-align: center;
    padding: 10px 0;
    margin-top: 0;
    margin-bottom: 0;
}

footer p > a {
    color: #11217c;
    font-weight: 700 !important;
    text-align: center;
    padding-top: 5px;
}

footer p > a:hover {
    color:  #6399f5;
}

/* ==========================================================================
   Responsive style
   ========================================================================== */

@media (min-width: 1200px) {

    .portfolio-container {
        width: 1170px;
    }
}

@media (max-width: 981px) {
    .portfolio-containerr {
        width: 750px;
        display: block;
    }

    .row-inline {
        display: flex;
        margin-right: 0;
        margin-left: 0;
    }

    .row-responsive {
        display: block;
        margin-right: 0;
        margin-left: 0;
    }

    .full-small-column {
        width: 100%;
        padding: 0;
    }

    .blue, .ball {
        width: 100%;
    }

    .triangle, .cube {
        width: 50%;
    }

    .logo {
        width: 80%;
    }

    .banner h1 {
        font-size: 26px;
        padding: 0;
        margin-top: 0;
    }

    #about h1 {
        margin-top: 0;
    }

    #contact .column3 {
        width: 23%;
    }

    #contact .column6 {
        width: 58%;
    }

    #contact .column3 {
        display: none;
    }

    #contact .column6 {
        width: 90%;
    }

    #contact .wrap-contact {
        padding: 92px 15px 88px 15px;
        left: 5%;
    }
}
  
@media screen and (max-width: 691px) {

    #menu{
        display: none;
    }

    ul.topnav {
        top: 55px;
        background-color: #fff;
        margin: 0 10px 10px 10px;
        width: -webkit-fill-available;
        width: -moz-available;
        width: -ms-fill-available;
        padding-left: 0;
    }

    ul.topnav li {
        display: block;
        margin: 5px 15px;
        text-align: center;
    }

    ul.topnav li a {
        display: block;
        text-align: center;
    }

    button.responsive-btn {
        float: right;
        display: block;
        padding: 5px 10px 10px 10px;
        margin-top: 8px;
        margin-right: 15px;
        margin-bottom: 8px;
        background-color: transparent;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        background-color: #11217c;
    }

    button.responsive-btn span {
        background-color: #fff;
        display: block;
        width: 22px;
        height: 3px;
        border-radius: 1px;
        margin-top: 5px;
    }

    #about .img-circle {
        width: 75%;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
